colorama==0.4.4
gensim==4.1.2
keras==2.7.0
matplotlib==3.5.1
nltk==3.6.5
numpy==1.21.4
pandarallel==1.5.4
pandas==1.3.4
plac==1.3.4
preprocessor==1.1.3
pyLODE==3.0.1
PyYAML==6.0
rdflib==6.1.1
requests==2.26.0
scikit_learn==1.0.2
scipy==1.6.1
seaborn==0.11.1
spacy==3.2.1
tensorflow==2.7.0
tensorflow_macos==2.7.0
termcolor==1.1.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.62.3
transformers==4.16.1
transformers.egg==info
tweepy==4.5.0
tweet-preprocessor==0.6.0
